<div class="row">
  <div class="span12">
    <div class="card hovercard">
      <!-- @user.big_picture_url  -->
      <div id="img_container">
        <%= image_tag @user.big_picture_url %>
          <% if @user == current_user %>
          <%= link_to "Add Services", new_service_path, :class=>"btn button1" %>
          <%= link_to "Edit Profile", edit_user_registration_path(current_user), :class=>"btn button" %>
        <% end %>
      </div>
      <div class="avatar">
        <%= image_tag @user.picture_url %>
      </div>
      <div class="info">
        <div class="title">
          <%= @user.email.sub(/@.*\Z/, '') %>
        </div>
          Interested in: Hiking, Art
        <div class="desc">
          <div class="rating">
              <span>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
              </span>
            <span> Guide</span>
          </div>
        </div>
        <div class="desc">
          <div class="rating">
              <span>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
                <i class="icon-star icon-3"></i>
              </span>
            <span> Tourist</span>
          </div>
        </div>
        <div class="collapse-group">
           <div class="collapse">
           <div>
            <%= @user.email %>
           </div>
           <div>
           </div>
            <%= @user.location %>
           <div>
           </div>
            <%= @user.description %>  
           </div>
          <p><a id="seemore" href="#">Toggle more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <% @services.each do |service| %>
    <div class="card people">
      <div class="card-top">
        <a href="#modal_<%=service.id.to_s%>" data-toggle="modal">
           <img src="<%= service.picture_url %>" alt=""/>
        </a>
      </div>
      <div class="card-info">
        <!-- Modal -->
        <div id="modal_<%=service.id.to_s%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><%= service.name %></h3>
          </div>
          <div class="modal-body">
            Description
            <hr>
            <div>
              <%= service.brief_description %>
            </div>
            <div>
              <%= service.long_description %>
            </div>
            <br>
            <div>
              Location: <%= service.location%>
            </div>
            <div>
              Fee: $<%= service.fee%>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to "Connect", user_path(service.user.id), :class=>"btn btn-primary" %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
        <a href="#modal_<%=service.id.to_s%>" data-toggle="modal" class="title"> <%=service.name%></a>
        <div class="desc">
          <%= service.brief_description %>
          <div class="text-center">
            <%= service.location %>
          </div>
          <div class="text-center">
            <%= service.fee %>$
          </div>            
        </div>
      </div>
      <div class="card-bottom">
        <%= link_to "Connect", user_path(service.user.id), :class=>"btn btn-primary btn-block" %>
      </div>
    </div>         
    <% end %>
  </div>
  <div class="span6">
    <div class="card">
     <h3 class="card-heading simple">Review</h3>
     <div class="card-body">
      <form>
        <fieldset>
          <div>
          <label>Rating</label>
          <input type="text" placeholder="Rating">
          <label>Subject</label>
          <input type="text" placeholder="Subject">
          </div>
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
     </div>
    </div>
    <div class="card">
      <div class="card-heading image">
        <img src="http://placehold.it/46x46" alt=""/>
        <div class="card-heading-header">
          <h3>John Smith</h3>
          <span>Published today - 08.34 AM</span>
        </div>
      </div>
      <div class="card-body">
        <div class="rating">
          <span>
            <i class="icon-star icon-3"></i>
            <i class="icon-star icon-3"></i>
            <i class="icon-star icon-3"></i>
            <i class="icon-star icon-3"></i>
            <i class="icon-star icon-3"></i>
          </span>
          <span> Guide</span>
        </div>
        <hr>
        <p>Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review
        </p>
      </div>
    </div>
  </div>
</div>