<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>
<p>
  <b>Picture URL:</b>
  <%= @service.picture_url %>
</p>
<p>
  <b>Brief Description:</b>
  <%= @service.brief_description %>
</p>
<p>
  <b>Long Description:</b>
  <%= @service.long_description %>
</p>
<p>
  <b>Location:</b>
  <%= @service.location %>
</p>

<p>
  <b>Min ppl:</b>
  <%= @service.min_ppl %>
</p>

<p>
  <b>Max ppl:</b>
  <%= @service.max_ppl %>
</p>

<p>
  <b>Fee:</b>
  <%= @service.fee %>
</p>

<p>
  <b>All day:</b>
  <%= @service.all_day %>
</p>

<p>
  <b>Can travel:</b>
  <%= @service.can_travel %>
</p>

<p>
  <b>Time from:</b>
  <%= @service.time_from %>
</p>

<p>
  <b>Time to:</b>
  <%= @service.time_to %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
